/*** DEFINITIONS ***/
@turquoise:#73dfcf;
@violet:#c088c2;

/*** FUNCTIONS ***/
.borderRadius(@radius: 5px) {
    border-radius: @radius;
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
}


.batubox-containter {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
    background-image: url('./img/batubox_overlay.png');
    height: 100%;
    width: 100%;
    z-index: 1000;
    overflow: auto;
    .batubox-overlay {
        margin: auto;
        padding: 35px;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: transparent;
        opacity: 0.4;
        z-index: 100;
    }
    .batubox-wrap {
        margin: auto;
        padding: 20px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: transparent;
        z-index: 101;
        overflow: auto;
    }
    .batubox-window {
        margin: 0 auto;
        display: inline-block;
        position: absolute;
        left: 0;
        right: 0;
        .batubox-window-footer {
            color: #fff;
            text-align: center;
            font-size: 12px;
            font-family: 'Open Sans';
            margin-top: 20px;
        }
        .batubox-window-content {
            background-color:#fff;
            box-shadow: 0 0 35px #000;
            overflow: hidden;

            .borderRadius(5px);
            form, .padding {
                padding: 32px;
            }
            .with-header h1 {
                color:#fff;
                height:60px;
                margin:0;
                padding:0;
                text-align:center;
                font-weight:normal;
                line-height:60px;
                font-family: 'Open Sans';
                position: relative;
                &.login {
                    background-color:@turquoise;
                }
                &.register {
                    background-color:@violet;
                }
                &.remind {
                    background-color:@violet;
                }
                i {
                    color:#fff;
                    font-size: 17px;
                    font-style: normal;
                    font-weight: bold;
                    position: absolute;
                    right: 20px;
                    top: 0px;
                    cursor: pointer;
                }
            }
            .batubox-close {
                top: 0px !important;
                right: 0px !important;
                width: 72px !important;
                height: 72px !important;
                background-image: url('./img/btn_close.png') !important;
                position: absolute;
                &:hover {
                    background-image: url('./img/btn_close_dark.png') !important;
                }
            }
            fieldset.separated {
                border-top:1px solid #e5e5e5;
                margin-top:24px;
                padding-top:24px;
            }
            .remind-password {
                cursor: pointer;
            }
            .message {
                margin: 30px;
                font-size: 13px;
                font-family: 'Open Sans';
            }
            .remind-info {
                font-size: 13px;
                text-align: center;
                font-family: 'Open Sans';
                color:#333;
                h2 {
                    color:#000;
                    margin: 0px;
                    font-size: 18px;
                    font-family: 'Open Sans';
                }
            }

            .label {
                color:#888;
                font-size: 15px;
                text-align: center;
                display: block;
            }
            .biglabel {
                color: #000;
                font-size: 24px;
                text-align: center;
                display: block;
                padding-top: 10px;
            }
            .strong {
                font-weight: bold;
            }
            .info {
                margin: 10px 0;
                color: #7A7777;
                &.strong {
                    color: #000;
                }
                .strong {
                    color: #000;
                }
            }
        }
    }
}
/* BatuBox Stop */
